<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!--load the properties file  -->
	<context:property-placeholder location="classpath:sport.properties"/>
    <!-- Define your beans here -->
    
    <!-- define the dependency -->
<!--     <bean id="myCoach"
    		class="com.study.springdemo.TrackCoach">
    </bean>
 -->    
    <bean id="myCoach"
        class="com.study.springdemo.TrackCoach">
	    <!--set up constructor injection  -->
       	<constructor-arg ref="myFortuneService" />       <!--Inject dependency into the class  -->
    </bean>
    <!--Define the dependency  -->
    <bean id ='myFortuneService'
    	class="com.study.springdemo.HappyFortuneService">
    </bean>
    
    <bean id="myCricketCoach"
    	class="com.study.springdemo.CricketCoach">
    	<!--Configure the dependency injection in spring config file-->
    	<property name="fortuneService" ref="myFortuneService" /> <!--Inect dependency into the class  -->
    	<property name="emailAddress" value="${foo.email}" /> <!--Inect literal values into the class  -->
    	<property name="team" value="${foo.team}" /> <!--Inect literal values into the class  -->
    </bean>
</beans>






